body {
    background: #ebebeb;
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

#wrapper {
    max-width: 1400px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background: #fdfdfd;
    border-radius: 5px;
    border: 1px solid #b4b4b4;
    box-shadow: 0px 0px 2px #818181;
}

#mast {
    padding: 10px;
}

#mast h1, #mast h2 {
    font-weight: normal;
    margin-left: 20px;

}

#mast h1 {
    margin-bottom: 0;
}

#mast h2 {
    margin-top: 0;
    font-size: 1.2em;
}

nav {
    float: right;
}

nav ul {
    padding: 15px 20px 1px 1px;
}

nav li {
    display: inline-block;
    margin: 5px;
    list-style-type: none;
    font-size: 1.1em;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    color: #5151f8;
}

#logo {
    float: left;
    width: 100px;
    height: 100px;
    background: url("/Images/logo.png");
    background-repeat: no-repeat;
    padding-right: 10px;
}

#mast:after, #logo:after {
    content: "";
    display: table;
    clear: both;
}

#coverphoto {
    height: 35vh;
    background: url("/Images/backgroundimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 1px solid #7e7d7d;
}

#content {
    padding: 0px 30px 20px 30px;
    line-height: 1.5;
}

#content h3, #content h4 {
    font-weight: normal;
    margin: 10px 0px 10px 0px;
}

#content h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 25px;
}

#content h4 {
    margin: 30px 0px 0px 0px;
    font-size: 20px;
    font-weight: normal;
}

#footer {
    background: #dfdfdf;
    font-size: 12px;
    color: #5e5e5e;
    padding: 10px 10px;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
}

#title {
    text-align: left;
    background: #f9f9f9;
    padding: 10px 30px;
    box-shadow: 0px 0px 2px #818181;
}
#title h2 {
    font-weight: normal;
}

p {
    font-size: 15px;
    color: #585858;
}