body {
    background: #d4d4d4;
    font-family: 'Roboto', sans-serif;
    color: #444;
}

h1 {
    color: #444;
}

li, a {
    color: #444;
    background: #b4b3b3;
    margin: 5px;
    width: 150px;
    text-align: center;
}