
#content h4 {
    margin: 30px 0px 30px 190px;
    font-size: 25px;
    font-weight: normal;
}

#firstBot {
    margin: auto;
    height: 640px;
    width: 960px;
    background: url("/Images/firstBot.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 1px solid #7e7d7d;
    margin-bottom: 30px;
}