#content a {
    text-decoration: none;
    color: inherit;
}


#content h4 {
    text-align: center;
}

#imgcontainer {
    max-width: 100%;
    margin: auto;
    text-align: center;
}

.sponsorimg {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    margin: 30px;
}